<div [formGroup]="group()" class="password-fields">
  <ui-input
    [label]="passwordLabel()"
    type="password"
    [formControlName]="passwordControlName()"
    [required]="true"
    [maxLength]="72"
    autocomplete="new-password"
    [errorMessage]="passwordError()"
  ></ui-input>

  @if (passwordValue().length > 0) {
    <ul class="password-fields__requirements" aria-live="polite">
      @for (requirement of requirements(); track requirement.label) {
        <li class="password-fields__requirement" [class.password-fields__requirement--met]="requirement.met">
          <span class="password-fields__requirement-icon" [class.password-fields__requirement-icon--met]="requirement.met">
            @if (requirement.met) {
              ✓
            }
          </span>
          {{ requirement.label }}
        </li>
      }
    </ul>
  }

  <ui-input
    [label]="confirmLabel()"
    type="password"
    [formControlName]="confirmControlName()"
    [required]="true"
    [maxLength]="72"
    autocomplete="new-password"
    [errorMessage]="confirmPasswordError()"
  ></ui-input>
</div>
