<div [formGroup]="group()">
  <ui-grid>
    <ui-grid-item [xs]="12" [sm]="4">
      <ui-input
        label="CEP"
        formControlName="cep"
        mask="cep"
        autocomplete="postal-code"
        [required]="true"
        [hint]="lookupError() ? null : cepHint()"
        [errorMessage]="lookupError() ?? fieldError()('cep')"
      ></ui-input>
    </ui-grid-item>

    <ui-grid-item [xs]="12" [sm]="8">
      <ui-input
        label="Logradouro"
        formControlName="street"
        autocomplete="address-line1"
        [required]="true"
        [maxLength]="150"
        [hint]="autoFilled() ? 'Preenchido automaticamente pelo CEP.' : null"
        [errorMessage]="fieldError()('street')"
      ></ui-input>
    </ui-grid-item>

    <ui-grid-item [xs]="12" [sm]="6">
      <ui-input
        label="Bairro"
        formControlName="neighborhood"
        autocomplete="off"
        [required]="true"
        [maxLength]="100"
        [errorMessage]="fieldError()('neighborhood')"
      ></ui-input>
    </ui-grid-item>

    <ui-grid-item [xs]="12" [sm]="4">
      <ui-input
        label="Cidade"
        formControlName="city"
        autocomplete="address-level2"
        [required]="true"
        [maxLength]="100"
        [errorMessage]="fieldError()('city')"
      ></ui-input>
    </ui-grid-item>

    <ui-grid-item [xs]="12" [sm]="2">
      <ui-input
        label="UF"
        formControlName="state"
        autocomplete="address-level1"
        [required]="true"
        [maxLength]="2"
        [errorMessage]="fieldError()('state')"
      ></ui-input>
    </ui-grid-item>

    <ui-grid-item [xs]="12" [sm]="4">
      <ui-input
        label="Número"
        formControlName="number"
        autocomplete="off"
        [required]="true"
        [maxLength]="20"
        [errorMessage]="fieldError()('number')"
      ></ui-input>
    </ui-grid-item>

    <ui-grid-item [xs]="12" [sm]="8">
      <ui-input
        label="Complemento"
        formControlName="complement"
        autocomplete="address-line2"
        [maxLength]="100"
      ></ui-input>
    </ui-grid-item>
  </ui-grid>
</div>
