@use 'tokens' as tokens;

.ui-toast-container {
  position: fixed;
  top: tokens.space(4);
  right: tokens.space(4);
  left: tokens.space(4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: tokens.space(2);
  z-index: 2000;
  pointer-events: none;

  ui-toast {
    pointer-events: auto;
    width: 100%;
  }

  @include tokens.respond('md') {
    left: auto;
    width: auto;

    ui-toast {
      width: auto;
    }
  }
}
